/* line 3, ../scss/front-content.scss */
.frontContent {
  text-align: center;
}

/* line 7, ../scss/front-content.scss */
#welcomeMessage {
  font-size: 1.5rem;
  background: #003E52;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#003E52, #00A5B5);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#003E52, #00A5B5);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#003E52, #00A5B5);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#003E52, #00A5B5);
  /* Standard syntax (must be last) */
  margin-bottom: 1em;
}
/* line 17, ../scss/front-content.scss */
#welcomeMessage h1 {
  color: white;
  padding: 1em;
}

/* line 23, ../scss/front-content.scss */
.emptyText {
  text-align: left;
  padding: 0;
  height: 400px;
  background-color: white;
  margin-top: 2em;
}
/* line 29, ../scss/front-content.scss */
.emptyText h1 {
  background-color: #003E52;
  padding: 0.5em;
  color: white;
}
/* line 34, ../scss/front-content.scss */
.emptyText p {
  padding: 0.5em;
}

/* line 40, ../scss/front-content.scss */
#infoDrop {
  font-size: 1.5em;
  text-align: center;
}
/* line 44, ../scss/front-content.scss */
#infoDrop label select {
  height: auto;
  font-size: 1.5rem;
  padding: 1em;
}
/* line 51, ../scss/front-content.scss */
#infoDrop label select option {
  color: grey;
}
/* line 53, ../scss/front-content.scss */
#infoDrop label select option:not(:checked) {
  color: black;
}
