/* Main Global Styles */
/* line 5, ../../../../../Users/Frank/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Users/Frank/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Users/Frank/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Users/Frank/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Users/Frank/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Users/Frank/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Users/Frank/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Users/Frank/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Users/Frank/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.slide-in-down.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: translateY(-100%);
  transition-property: transform, opacity;
  backface-visibility: hidden;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.slide-in-down.mui-enter.mui-enter-active {
  transform: translateY(0);
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.slide-in-left.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: translateX(-100%);
  transition-property: transform, opacity;
  backface-visibility: hidden;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.slide-in-left.mui-enter.mui-enter-active {
  transform: translateX(0);
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.slide-in-up.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: translateY(100%);
  transition-property: transform, opacity;
  backface-visibility: hidden;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.slide-in-up.mui-enter.mui-enter-active {
  transform: translateY(0);
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.slide-in-right.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: translateX(100%);
  transition-property: transform, opacity;
  backface-visibility: hidden;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.slide-in-right.mui-enter.mui-enter-active {
  transform: translateX(0);
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.slide-out-down.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: translateY(0);
  transition-property: transform, opacity;
  backface-visibility: hidden;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.slide-out-down.mui-leave.mui-leave-active {
  transform: translateY(100%);
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.slide-out-right.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: translateX(0);
  transition-property: transform, opacity;
  backface-visibility: hidden;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.slide-out-right.mui-leave.mui-leave-active {
  transform: translateX(100%);
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.slide-out-up.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: translateY(0);
  transition-property: transform, opacity;
  backface-visibility: hidden;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.slide-out-up.mui-leave.mui-leave-active {
  transform: translateY(-100%);
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.slide-out-left.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: translateX(0);
  transition-property: transform, opacity;
  backface-visibility: hidden;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.slide-out-left.mui-leave.mui-leave-active {
  transform: translateX(-100%);
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.fade-in.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  opacity: 0;
  transition-property: opacity;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.fade-in.mui-enter.mui-enter-active {
  opacity: 1;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.fade-out.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  opacity: 1;
  transition-property: opacity;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.fade-out.mui-leave.mui-leave-active {
  opacity: 0;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-in-from-top.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateX(-90deg);
  transform-origin: top;
  transition-property: transform, opacity;
  opacity: 0;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-in-from-top.mui-enter.mui-enter-active {
  transform: perspective(2000px) rotate(0deg);
  opacity: 1;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-in-from-right.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateY(-90deg);
  transform-origin: right;
  transition-property: transform, opacity;
  opacity: 0;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-in-from-right.mui-enter.mui-enter-active {
  transform: perspective(2000px) rotate(0deg);
  opacity: 1;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-in-from-bottom.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateX(90deg);
  transform-origin: bottom;
  transition-property: transform, opacity;
  opacity: 0;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-in-from-bottom.mui-enter.mui-enter-active {
  transform: perspective(2000px) rotate(0deg);
  opacity: 1;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-in-from-left.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateY(90deg);
  transform-origin: left;
  transition-property: transform, opacity;
  opacity: 0;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-in-from-left.mui-enter.mui-enter-active {
  transform: perspective(2000px) rotate(0deg);
  opacity: 1;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-in-from-middle-x.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateX(-90deg);
  transform-origin: center;
  transition-property: transform, opacity;
  opacity: 0;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-in-from-middle-x.mui-enter.mui-enter-active {
  transform: perspective(2000px) rotate(0deg);
  opacity: 1;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-in-from-middle-y.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateY(-90deg);
  transform-origin: center;
  transition-property: transform, opacity;
  opacity: 0;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-in-from-middle-y.mui-enter.mui-enter-active {
  transform: perspective(2000px) rotate(0deg);
  opacity: 1;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-out-from-top.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotate(0deg);
  transform-origin: top;
  transition-property: transform, opacity;
  opacity: 1;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-out-from-top.mui-leave.mui-leave-active {
  transform: perspective(2000px) rotateX(-90deg);
  opacity: 0;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-out-from-right.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotate(0deg);
  transform-origin: right;
  transition-property: transform, opacity;
  opacity: 1;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-out-from-right.mui-leave.mui-leave-active {
  transform: perspective(2000px) rotateY(-90deg);
  opacity: 0;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-out-from-bottom.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotate(0deg);
  transform-origin: bottom;
  transition-property: transform, opacity;
  opacity: 1;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-out-from-bottom.mui-leave.mui-leave-active {
  transform: perspective(2000px) rotateX(90deg);
  opacity: 0;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-out-from-left.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotate(0deg);
  transform-origin: left;
  transition-property: transform, opacity;
  opacity: 1;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-out-from-left.mui-leave.mui-leave-active {
  transform: perspective(2000px) rotateY(90deg);
  opacity: 0;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-out-from-middle-x.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotate(0deg);
  transform-origin: center;
  transition-property: transform, opacity;
  opacity: 1;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-out-from-middle-x.mui-leave.mui-leave-active {
  transform: perspective(2000px) rotateX(-90deg);
  opacity: 0;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-out-from-middle-y.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotate(0deg);
  transform-origin: center;
  transition-property: transform, opacity;
  opacity: 1;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.hinge-out-from-middle-y.mui-leave.mui-leave-active {
  transform: perspective(2000px) rotateY(-90deg);
  opacity: 0;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.scale-in-up.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: scale(0.5);
  transition-property: transform, opacity;
  opacity: 0;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.scale-in-up.mui-enter.mui-enter-active {
  transform: scale(1);
  opacity: 1;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.scale-in-down.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: scale(1.5);
  transition-property: transform, opacity;
  opacity: 0;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.scale-in-down.mui-enter.mui-enter-active {
  transform: scale(1);
  opacity: 1;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.scale-out-up.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: scale(1);
  transition-property: transform, opacity;
  opacity: 1;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.scale-out-up.mui-leave.mui-leave-active {
  transform: scale(1.5);
  opacity: 0;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.scale-out-down.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: scale(1);
  transition-property: transform, opacity;
  opacity: 1;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.scale-out-down.mui-leave.mui-leave-active {
  transform: scale(0.5);
  opacity: 0;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.spin-in.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: rotate(-0.75turn);
  transition-property: transform, opacity;
  opacity: 0;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.spin-in.mui-enter.mui-enter-active {
  transform: rotate(0);
  opacity: 1;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.spin-out.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: rotate(0);
  transition-property: transform, opacity;
  opacity: 1;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.spin-out.mui-leave.mui-leave-active {
  transform: rotate(0.75turn);
  opacity: 0;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.spin-in-ccw.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: rotate(0.75turn);
  transition-property: transform, opacity;
  opacity: 0;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.spin-in-ccw.mui-enter.mui-enter-active {
  transform: rotate(0);
  opacity: 1;
}

/* line 22, ../node_modules/motion-ui/src/util/_transition.scss */
.spin-out-ccw.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: rotate(0);
  transition-property: transform, opacity;
  opacity: 1;
}
/* line 34, ../node_modules/motion-ui/src/util/_transition.scss */
.spin-out-ccw.mui-leave.mui-leave-active {
  transform: rotate(-0.75turn);
  opacity: 0;
}

/* line 56, ../node_modules/motion-ui/src/_classes.scss */
.slow {
  transition-duration: 750ms !important;
}

/* line 56, ../node_modules/motion-ui/src/_classes.scss */
.fast {
  transition-duration: 250ms !important;
}

/* line 62, ../node_modules/motion-ui/src/_classes.scss */
.linear {
  transition-timing-function: linear !important;
}

/* line 62, ../node_modules/motion-ui/src/_classes.scss */
.ease {
  transition-timing-function: ease !important;
}

/* line 62, ../node_modules/motion-ui/src/_classes.scss */
.ease-in {
  transition-timing-function: ease-in !important;
}

/* line 62, ../node_modules/motion-ui/src/_classes.scss */
.ease-out {
  transition-timing-function: ease-out !important;
}

/* line 62, ../node_modules/motion-ui/src/_classes.scss */
.ease-in-out {
  transition-timing-function: ease-in-out !important;
}

/* line 62, ../node_modules/motion-ui/src/_classes.scss */
.bounce-in {
  transition-timing-function: cubic-bezier(0.485, 0.155, 0.24, 1.245) !important;
}

/* line 62, ../node_modules/motion-ui/src/_classes.scss */
.bounce-out {
  transition-timing-function: cubic-bezier(0.485, 0.155, 0.515, 0.845) !important;
}

/* line 62, ../node_modules/motion-ui/src/_classes.scss */
.bounce-in-out {
  transition-timing-function: cubic-bezier(0.76, -0.245, 0.24, 1.245) !important;
}

/* line 68, ../node_modules/motion-ui/src/_classes.scss */
.short-delay {
  transition-delay: 300ms !important;
}

/* line 68, ../node_modules/motion-ui/src/_classes.scss */
.long-delay {
  transition-delay: 700ms !important;
}

/* HEADER & HEADER NAVIGATION */
/* line 3, ../scss/_header.scss */
.header {
  color: #00A5B5;
  background-color: #003E52;
  width: 100%;
  padding: 1.5em 0 1.5em 0;
}
@media screen and (max-width: 639px) {
  /* line 3, ../scss/_header.scss */
  .header {
    text-align: center;
    padding: .5em 0 0 0;
  }
}

/* line 14, ../scss/_header.scss */
.closeMobile {
  background-color: #002d3c;
}
/* line 16, ../scss/_header.scss */
.closeMobile button {
  width: 100%;
  min-height: 12em;
  color: white;
  font-size: 0.5rem;
  text-transform: uppercase;
}

/* line 25, ../scss/_header.scss */
#navcontents {
  width: 100%;
}
@media screen and (max-width: 639px) {
  /* line 25, ../scss/_header.scss */
  #navcontents {
    background-color: #00A5B5;
    position: absolute;
    z-index: 9;
  }
}
@media screen and (min-width: 640px) {
  /* line 25, ../scss/_header.scss */
  #navcontents {
    margin-left: auto;
  }
}

/* line 38, ../scss/_header.scss */
.mainLogo {
  padding: 0.55em;
  padding-top: 0;
  text-align: left;
}
/* line 42, ../scss/_header.scss */
.mainLogo img {
  min-width: 333px;
}
@media screen and (max-width: 639px) {
  /* line 38, ../scss/_header.scss */
  .mainLogo {
    width: 100%;
    text-align: center;
  }
  /* line 48, ../scss/_header.scss */
  .mainLogo img {
    min-width: auto;
  }
}

/* line 54, ../scss/_header.scss */
.headerNav {
  position: relative;
}
@media screen and (max-width: 745px) {
  /* line 54, ../scss/_header.scss */
  .headerNav {
    max-width: 350px;
  }
}
@media screen and (max-width: 639px) {
  /* line 54, ../scss/_header.scss */
  .headerNav {
    max-width: 100%;
    width: 100%;
    text-align: center;
    background-color: #00A5B5;
  }
}

/* line 71, ../scss/_header.scss */
.togBG {
  padding: 0;
  width: 42px;
  border: 2px solid black;
  float: right;
  border-radius: 0.3em;
}
/* line 77, ../scss/_header.scss */
.togBG button {
  margin: 0.5em;
  border-radius: 0.3em;
}
/* line 81, ../scss/_header.scss */
.togBG:hover {
  background-color: grey;
}
/* line 85, ../scss/_header.scss */
.togBG .menu-icon {
  width: 22px;
  height: 21px;
}
/* line 89, ../scss/_header.scss */
.togBG .menu-icon:after {
  height: 4px;
  background-color: black;
  box-shadow: 0 8px 0 black,0 16px 0 black;
}

/* line 99, ../scss/_header.scss */
.externalServices a {
  text-transform: uppercase;
  color: white;
  font-size: 0.75em;
}
/* line 103, ../scss/_header.scss */
.externalServices a:hover {
  color: #00A5B5;
}
/* line 107, ../scss/_header.scss */
.externalServices .menu {
  text-align: right;
}
/* line 109, ../scss/_header.scss */
.externalServices .menu li {
  display: inline-block;
}
/* line 111, ../scss/_header.scss */
.externalServices .menu li a {
  padding: 0.85em;
  padding-right: 0;
  padding-left: 1em;
}
/* line 117, ../scss/_header.scss */
.externalServices .menu li:nth-child(5) {
  padding-right: 0px;
}
@media screen and (max-width: 639px) {
  /* line 107, ../scss/_header.scss */
  .externalServices .menu {
    text-align: center;
  }
}

/* line 129, ../scss/_header.scss */
.resourcesDropdown {
  text-align: center;
  margin-top: .5em;
}
/* line 132, ../scss/_header.scss */
.resourcesDropdown ul {
  float: right;
}
/* line 134, ../scss/_header.scss */
.resourcesDropdown ul li > ul > li {
  background-color: #00A5B5;
  min-width: 240px;
  border-top: 2px solid white;
  text-align: center;
}
/* line 139, ../scss/_header.scss */
.resourcesDropdown ul li > ul > li:hover {
  background-color: #002d3c;
}
/* line 144, ../scss/_header.scss */
.resourcesDropdown a {
  color: white;
}
/* line 148, ../scss/_header.scss */
.resourcesDropdown .menu > li {
  display: inline-block;
}
@media screen and (max-width: 639px) {
  /* line 129, ../scss/_header.scss */
  .resourcesDropdown {
    margin-bottom: .5em;
  }
}

/* line 158, ../scss/_header.scss */
#resourcesButton {
  border: solid 2px white;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 0.85em;
}
/* line 165, ../scss/_header.scss */
#resourcesButton:after {
  border-color: white transparent transparent;
  margin-right: 1em;
}

@media screen and (max-width: 639px) {
  /* line 175, ../scss/_header.scss */
  .headerNav {
    width: 100%;
    text-align: center;
    background-color: #00A5B5;
  }

  /* line 181, ../scss/_header.scss */
  .resourcesDropdown > ul, .externalServices > ul {
    float: none;
  }
}
/* line 190, ../scss/_header.scss */
.containHeader {
  display: table;
  width: 100%;
}

/* line 3, ../scss/_nav-main.scss */
.mainNavigation {
  background-color: #99DAEA;
  text-align: center;
  padding: 0;
}
/* line 7, ../scss/_nav-main.scss */
.mainNavigation .title-bar {
  background: #99DAEA;
  padding: 0;
}
/* line 12, ../scss/_nav-main.scss */
.mainNavigation ul > li a {
  color: #00A5B5;
  padding: 1.5em 2.3vw 1.5em 2.3vw;
}
/* line 19, ../scss/_nav-main.scss */
.mainNavigation ul > li:hover {
  background-color: #002d3c;
}
@media screen and (max-width: 639px) {
  /* line 3, ../scss/_nav-main.scss */
  .mainNavigation {
    display: inline-block;
    width: 100%;
  }
  /* line 27, ../scss/_nav-main.scss */
  .mainNavigation .row {
    margin: 0;
  }
}

/* line 35, ../scss/_nav-main.scss */
.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a {
  margin-right: 1vw;
  margin-left: 0;
}

/* line 1, ../scss/_hero-image.scss */
ul.orbit-container {
  height: auto !important;
}

/* line 5, ../scss/_hero-image.scss */
li.orbit-slide {
  max-height: none !important;
}

/* line 13, ../scss/_hero-image.scss */
.orbit-bullets button {
  border-radius: 0;
}
@media screen and (max-width: 639px) {
  /* line 13, ../scss/_hero-image.scss */
  .orbit-bullets button {
    margin: 0 .5em 0 .5em;
  }
}

/* line 20, ../scss/_hero-image.scss */
.orbit-caption {
  margin-bottom: 4px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

/* line 3, ../scss/front-content.scss */
.frontContent {
  text-align: center;
}

/* line 7, ../scss/front-content.scss */
#welcomeMessage {
  font-size: 1.5rem;
  background: #003E52;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#003E52, #00A5B5);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#003E52, #00A5B5);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#003E52, #00A5B5);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#003E52, #00A5B5);
  /* Standard syntax (must be last) */
  margin-bottom: 1em;
}
/* line 17, ../scss/front-content.scss */
#welcomeMessage h1 {
  color: white;
  padding: 1em;
}

/* line 23, ../scss/front-content.scss */
.emptyText {
  text-align: left;
  padding: 0;
  height: 400px;
  background-color: white;
  margin-top: 2em;
}
/* line 29, ../scss/front-content.scss */
.emptyText h1 {
  background-color: #003E52;
  padding: 0.5em;
  color: white;
}
/* line 34, ../scss/front-content.scss */
.emptyText p {
  padding: 0.5em;
}

/* line 40, ../scss/front-content.scss */
#infoDrop {
  font-size: 1.5em;
  text-align: center;
}
/* line 44, ../scss/front-content.scss */
#infoDrop label select {
  height: auto;
  font-size: 1.5rem;
  padding: 1em;
}
/* line 51, ../scss/front-content.scss */
#infoDrop label select option {
  color: grey;
}
/* line 53, ../scss/front-content.scss */
#infoDrop label select option:not(:checked) {
  color: black;
}

/* line 18, ../scss/main.scss */
body {
  font: 100% cscc_font_main;
  background-color: #EBEBEB;
}

/* .column, .row {
	border: 1px solid red;
} */
/* line 28, ../scss/main.scss */
[type=text]:focus {
  box-shadow: none;
}

/* line 32, ../scss/main.scss */
.noJS {
  display: none;
}

/* line 36, ../scss/main.scss */
.is-drilldown {
  max-width: 100% !important;
}

/* line 41, ../scss/main.scss */
footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #002d3c;
  color: white;
}

/* line 49, ../scss/main.scss */
h1 {
  font-size: 1.5rem;
}

/* line 54, ../scss/main.scss */
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
