

// Color Pallette
$cscc_back: #EBEBEB;

$cscc_dark_blue: #002d3c;
$cscc_blue: #003E52;
$cscc_med_blue: #00A5B5;
$cscc_li_blue: #99DAEA;

$blue: #003366;


// Fonts
$cscc_font_main: Verdana, Geneva, sans-serif;

// Font Color
$header1_color: #2a2a2a;

// Borders
$border_white: 2px solid white;
$border_black: 2px solid black;


// Gradients

//#grad1 {
//    background: red; /* For browsers that do not support gradients */
//    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
//    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
//    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
//    background: linear-gradient(red, yellow); /* Standard syntax (must be last) */
//}